
.btn-info {
  background-color: #0f7290!important;
  border-color: #0f7290!important;
}
.text-info {
  color: #0f7290!important;
}

body {

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.btn {
  white-space:normal !important;
  word-wrap: break-word;
}

.pagination, .breadcrumb {
  background-color: #fff !important;
}

@media (max-width: 480px)
ul.logos-sponsors li {
  display: block;
  list-style: none;
  padding: 10px;
  text-align: center!important;
}

.logos-sponsors img {
  height: 86px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.col-md-6.mb-3.mt-3.mx-auto.d-block.book {
  margin-top: 100px!important;
}


h3 > a {
  position: relative;
  color: #000;
  text-decoration: none !important;
}

h3.hc > a:hover {
  color: #fff;
}

h3.hc > a {
  position: relative;
  color: #fff;
  text-decoration: none !important;
}

h3 > a:hover {
  color: #000;
}

h3 > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

h3 > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

h2 > a {
  position: relative;
  color: #000;
  text-decoration: none !important;
}

h2.hc > a:hover {
  color: #fff;
}

h2.hc > a {
  position: relative;
  color: #fff;
  text-decoration: none !important;
}

h2 > a:hover {
  color: #000;
}

h2 > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

h5 > a {
  position: relative;
  color: #000;
  text-decoration: none !important;
}

h5.hc > a:hover {
  color: #fff;
}

h5.hc > a {
  position: relative;
  color: #fff;
  text-decoration: none !important;
}

h5 > a:hover {
  color: #000;
}

h5 > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

h5 > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}


.page-link {
  border: none!important;
  color: #000;
}


li.nav-item.active {
  border-bottom: solid 5px #fff!important;
}

a.nav-link {
  color: hsla(0,0%,100%,.5);
  background-color: transparent;
}

h3.lead.collection {
    width: fit-content;
    border-bottom: 0.5px #000 double;
    margin-bottom: 10px;
}
li.square {
  list-style: square;
}
.bg-purple {
  background-color: #563d7c;
}
.bg-grey{
  background-color: #97816224;
  padding-top: 10px;
}
.bg-gbdo {
  background-color: #a3c1ad;
}
